language: go

go_import_path: github.com/traefik/whoamitcp

notifications:
  email:
    on_success: never
    on_failure: change

cache:
  directories:
    - $GOPATH/pkg/mod

jobs:
  fast_finish: true
  include:
    - go: 1.14.x
      env: STABLE=true
    - go: 1.x
    - go: tip
  allow_failures:
    - go: tip

env:
  global:
    - GO111MODULE=on

before_install:
  # Install linters and misspell
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin ${GOLANGCI_LINT_VERSION}
  - golangci-lint --version

install:
  - go mod tidy
  - git diff --exit-code go.mod
  - if [ -f "./go.sum" ]; then git diff --exit-code go.sum; fi
  - go mod download

script:
  - make
  - make image
